#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: khaki;
}
ul{
  text-align: left;

}
.app-heading
{
  background-color: aqua;
}
.animal-list{
font-weight: 500;
color: darkblue;
}