.sideBarContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 68px;
  height: calc(-55px + 100vh);
  padding: 8px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(240, 240, 240);
  top: 55px;
  z-index: 9;
}

.gameBox {
  position: relative;
  margin: 1px;
  border: 1px solid rgb(240, 240, 240);
  height: 48px;
  width: 48px;
}
.gameBox img {
  background-color: beige;
}
