.loginbutton {
  display: flex;
width: 100px;
-webkit-box-align: center;
align-items: center;
display: inline-flex;
font-family: Montserrat, Roboto, Arial, sans-serif;
-webkit-box-pack: center;
justify-content: center;
font-size: 12px;
font-weight: 500;
padding: 12px 24px;
background-color: transparent;
white-space: nowrap;
border-radius: 0px;
width: 100px;
border: 2px solid rgb(240, 240, 240);
color: rgb(160, 164, 168);
margin-right: 8px;
}
