.headerPlatformDropdownContainer{
  width: 177px;
  height: 55px;
  padding: 12px;
}

.headerPlatformDropdown{
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.headerPlatformDropdownContent{
  font-size: 15px;
}
.platform{
  margin: 2px;
  text-decoration: none;
}
.platformLogo{
  margin-right: 8px;
}