h1{
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}
input{
width: 100%;
}
.todo-container
{
  text-align: left;
}
.items-container
{
  text-align: left;
}
.b-row{
  margin: 10px 5px;
}
.b-button{
  min-width: 80px;
}